<footer>

    <section>


        <nav>
            <h4>Tienda</h4>
            <ul>
                <li><a href="">Productos</a></li>
                <li><a href="">Cajoneras</a></li>
                <li><a href="">Para toda la casa</a></li>
                <li><a href="">Habitaciones</a></li>
            </ul>

        </nav>

        <nav>
            <h4>Nosotros</h4>
            <ul>
                <li><a href="">Nuestra Guia</a></li>
                <li><a href="">Nuestro diseño</a></li>
                <li><a href="">Nuestra historia</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

        </nav>

        <nav>
            <h4>Contacto</h4>
            <ul>
                <li><a href="">ayuda@openspaces.com</a></li>
                <li><a href="">Socios</a></li>

            </ul>

        </nav>

        <nav>

            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>

            </ul>
        </nav>



    </section>

</footer>