<footer>

    <section class="footer">

        <nav class="article-footer">
            <h3 class="footer-title">Tienda</h3>
            <ul class="footer-list">
                <li><a class="footer-link" href="https://adalab.es/">Productos</a></li>
                <li><a class="footer-link" href="https://adalab.es/">Cajoneras</a></li>
                <li><a class="footer-link" href="https://adalab.es/">Para toda la casa</a></li>
                <li><a class="footer-link" href="https://adalab.es/">Habitaciones</a></li>
            </ul>

        </nav>

        <nav class="article-footer">
            <h3 class="footer-title">Nosotros</h3>
            <ul class="footer-list">
                <li><a class="footer-link" href="https://adalab.es/">Nuestra Guia</a></li>
                <li><a class="footer-link" href="https://adalab.es/">Nuestro diseño</a></li>
                <li><a class="footer-link" href="https://adalab.es/">Nuestra historia</a></li>
                <li><a class="footer-link" href="https://adalab.es/">Ayuda</a></li>
            </ul>

        </nav>

        <nav class="article-footer">
            <h3 class=" footer-title">Contacto</h3>
            <ul class="footer-list">
                <li><a class="footer-link" href="https://adalab.es/">ayuda@openspaces.com</a></li>
                <li><a class="footer-link" href="https://adalab.es/">Socios</a></li>

            </ul>

            <ul class="media-list">

                <li><a href="https://adalab.es/"><i class="fa-brands fa-linkedin-in fa-lg"></i></a></li>
                <li><a href="https://adalab.es/"><i class="fa-brands fa-instagram fa-lg "></i></a></li>
                <li><a href="https://adalab.es/"><i class="fa-brands fa-twitter-square fa-lg "></i></a></li>

            </ul>

            <a class="arrow" id="arrow1" href="#header"><i class="fa-solid fa-arrow-up fa-2x"></i></a>
        </nav>



    </section>



</footer>