<header id="header" class="header">
    <div class="header__images">

        <a class="header__menu" href="https://adalab.es/">
            <img src="./assets/images/hamburger.svg" alt="Menu">
        </a>

        <img class="header__logo" src="./assets/images/logo.png" alt="Logo de la compañia"
            title="Ir a la pagina Adalab">

    </div>

    <article class="header__text">

        <h1 class="header__text--title">Disfruta Creando espacios</h1>
        <a class="header__text--link" href="https://adalab.es/">Comprar ahora</a>

    </article>


</header>