<section class="creating">

  <article class="creating__text">
    <div>

      <h3 class="creating__text--title">Disfruta creando espacio</h3>
      <p class="creating__text--p ">Una linea de productos diseñados para todos tus espacios</p>

    </div>
    <div class="creating__text--bottom">
      <a class="box" href="https://adalab.es/" title="Ir a Adalab">Comprar Ahora</a>
    </div>

  </article>

  <img class="creating__image" src="./assets/images/creando-espacios.jpg" alt="Imagen decoracion baño">
</section>