<section class="services">

    <h2>Volverse organizado se siente mejor con OPEN SPACES</h2>


    <article class="service__list">
        <img src="./assets/images/icon_1.png" alt="">
        <article>
            <h3>Lo que necesitas</h3>
            <p>Una linea de productos diseñados para todos tus espacios</p>
        </article>
    </article>

    <article class="service__list">

        <img src="./assets/images/icon_2.png" alt="">
        <article>
            <h3>Materias primas sustentables</h3>
            <p> Todos los productos con materias primas sustentables</p>
        </article>

    </article>


    <article class="service__list">

        <img src=" ./assets/images/icon_3.png" alt="">
        <article>
            <h3>Guía</h3>
            <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
        </article>

    </article>


</section>