<section class="container">

    <h2 class="container__title">Volverse organizado se siente mejor con OPEN SPACES</h2>

    <div class="services">

        <article class="listservice">

            <img class="listservice__image" src="./assets/images/icon_1.png" alt="Icono de diseño">

            <article class="listservice__article">
                <h3 class="listservice__article--title">Lo que necesitas</h3>
                <p class="listservice__article--p">Una linea de productos diseñados para todos tus espacios</p>
            </article>
        </article>


        <article class="listservice">

            <img class="listservice__image" src="./assets/images/icon_2.png" alt="Icono bolsa reciclable">

            <article class="listservice__article">
                <h3 class="listservice__article--title">Materias primas sustentables</h3>
                <p class="listservice__article--p"> Todos los productos con materias primas sustentables</p>
            </article>

        </article>



        <article class="listservice">

            <img class="listservice__image" src=" ./assets/images/icon_3.png" alt="Icono guia">
            <article class="listservice__article">
                <h3 class="listservice__article--title">Guía</h3>
                <p class="listservice__article--p">Soporte y asesoramiento para ayudarte con tu objetivo</p>
            </article>

        </article>

    </div>

</section>