.footer {
  background-color: var(--text-blue);
  color: var(--text-footer);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 545px;
  font-size: 0.875rem;
  padding-top: 56px;
  width: 100%;
}

.footer-title {
  color: var(--text-footer);
  font-size: 20px;
  &:hover {
    font-size: 22px;
    color: var(--text-white);
  }
}

.footer-list {
  list-style: none;
  padding-bottom: 10px;
}

.article-footer {
  padding-bottom: 25px;
  color: var(--text-footer);
  height: 181px;
  width: 200px;
  &:hover {
    font-size: 18px;
  }
}
.footer-link {
  color: var(--text-footer);
}

.media-list {
  display: flex;
  list-style: none;
  padding: -50px 5px;
  gap: 11px;
}

.fa-brands {
  height: 26px;
  width: 25px;
  color: var(--text-white);
}
.fa-solid {
  color: var(--text-white);
  display: flex;
  position: absolute;
  bottom: -2156px;
  padding-bottom: 29px;
  padding-left: 330px;
}

@media all and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 276px;
    padding: 120px 118px 70px 100px;
  }

  .footer-title {
    font-size: 20px;
  }
  .fa-solid {
    bottom: -1550px;
    left: 50%;
  }
  .footer-title {
    padding-bottom: 8px;
  }
}

@media all and (min-width: 1200px) {
  .footer {
    height: 393px;
    padding: 131px 200px 131px 200px;
    gap: 50px;
  }
  .article-footer {
    height: 96px;
    width: 300px;
  }

  .fa-solid {
    bottom: -2111px;
    left: 67%;
  }
}

@media all and (min-width: 1300px) {
  .fa-solid {
    bottom: -2260px;
    left: 67%;
  }
}
