.header {
  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  height: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-images {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding-left: 20px;
  padding-top: 19px;
}
.images-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 55px;
  left: 33px;
  width: 24px;
  height: 24px;
}

.images-logo {
  text-align: left;
  width: 213px;
  height: 96px;
}

.header-text {
  align-items: center;
  padding-top: 50px;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-bottom: 100px;
}

.header-title {
  font-size: 1.5rem;
  color: var(--text-blue);
  padding-bottom: 30px;
}

.header-link {
  width: 176px;
  height: 48px;
  background-color: var(--text-blue);
  color: var(--text-white);
  font-size: 1rem;
  padding: 12px 24px;
  cursor: pointer;
  transition: 0.3s ease all;

  &:hover {
    background: lightsalmon;
    color: var(--text-blue);
    border: 1px var(--text-blue) solid;
    font-size: 16px;
    border-radius: 5%;
    text-decoration: underline;
  }
}

#content-desktop {
  display: none;
}

@media all and (min-width: 768px) {
  .hidden-mobile {
    display: none;
  }
  .header-text {
    width: 100%;
    padding-bottom: 264px;
    padding-left: 100px;
  }
  .hamburger {
    height: 36px;
    width: 36px;
  }
  .header-images {
    padding-top: 39px;
  }
  .header-title {
    font-size: 36px;
    text-align: left;
    height: 112px;
    width: 430px;
    margin-bottom: 10px;
  }
  .header-link {
    display: flex;
  }

  .menu-2 {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  #content-desktop {
    display: none;
  }
}

@media all and (min-width: 1200px) {
  .header {
    height: 1024px;
  }

  .header-images {
    align-items: flex-end;
    gap: 80px;
    width: 1200px;
  }
  #content-mobile {
    display: none;
  }
  #content-desktop {
    display: block;
    align-items: space-between;
  }

  .menu-2 {
    padding-left: -400px;
    font-size: 16px;
    display: flex;
    top: 80px;
    left: 110px;
    position: fixed;
    color: var(--text-blue);
  }
  .item {
    color: var(--text-blue);
    &:hover {
      font-size: 20px;
      color: var(--text-blue);
      font-weight: bolder;
      text-decoration: underline;
    }
  }
  .header-text {
    padding-bottom: 397px;
    padding-left: 116px;
  }
}
