.delivery {
  background-color: var(--color-background-delivery);
  color: var(--text-white);
  height: 352px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__icon {
    padding-top: 10px;
    width: 112px;
    height: 98px;
  }

  &__title {
    font-size: 1.5rem;
    margin: 10px 0 0;
    line-height: 35px;
    letter-spacing: normal;
  }

  &__text {
    font-size: 0.875rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__bottom {
    width: 120px;
    text-decoration: underline;
    color: var(--text-white);
    padding: 12px 24px 12px 24px;
    transition: color ease 1s;

    &:hover {
      color: var(--text-blue);
      font-size: 18px;
      font-weight: bold;
    }
  }
}

@media all and (min-width: 768px) {
  .delivery {
    &__icon {
      width: 120px;
      height: 120px;
    }

    &__title {
      font-size: 30px;
    }

    &__text {
      padding-top: 15px;
    }
  }
}

@media all and (min-width: 1200px) {
  .delivery {
    &__title {
      font-size: 36px;
    }
    &__text {
      font-size: 16px;
    }
  }
}
