.delivery {
  background-color: var(--color-background-delivery);
  color: var(--text-white);
  height: 352px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__icon {
    padding-top: 10px;
    width: 112px;
    height: 98px;
  }

  &__title {
    font-size: 1.5rem;
    margin: 10px 0 0;
    line-height: 35px;
    letter-spacing: normal;
  }

  &__text {
    font-size: 0.875rem;
  }

  &__bottom {
    text-decoration: underline;
    color: var(--text-white);
    padding: 12px 24px 12px 24px;
  }
}
