.services {
  background-color: var(--color-background-grey);
  color: var(--text-blue);
  padding: 41px 47px 41px 45px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  text-align: center;
}
.listservice {
  padding-top: 36px;
  &__image {
    height: 99px;
    width: 90px;
  }
}

.listservice__articule--title {
  font-size: 20px;
}
