.services {
  background-color: var(--color-background-grey);
  color: var(--text-blue);
  padding: 0px 47px 41px 45px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  text-align: center;
}
.container {
  background-color: var(--color-background-grey);
  color: var(--text-blue);
  text-align: center;
  padding: 81px 47px 0px 45px;
  height: 1108px;
}
.listservice {
  padding-top: 36px;
  &__image {
    height: 99px;
    width: 90px;
  }
}
.listservice__article--title {
  font-size: 20px;
}

@media all and (min-width: 768px) {
  .container {
    padding: 63px 38px 73px 63px;
    height: 532px;

    .services {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 45px;

      .listservice {
        padding-top: 45px;

        .listservice__article {
          padding-top: 40px;
        }
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .container {
    height: 611px;
    padding-bottom: 86px;
    padding-top: 42px;
    &__title {
      font-size: 36px;
      height: 112px;
      width: 799px;
      text-align: center;
      margin-left: 180px;
    }
  }

  .listservice {
    &__image {
      height: 120px;
      width: 120px;
      text-align: center;
    }
    &__article {
      &--title {
        font-size: 24px;
      }
      &--p {
        height: 96px;
        width: 208px;
        margin-left: 60px;
      }
    }
  }
}
